<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); -%>

    <body class="container">
        <main>
            <%- include('../partials/header'); -%>
                <div class="jumbotron jumbotron-fluid">
                    <h1>NODE + EJS About</h1>
                    <p>Trabalhando com arquivos EJS - About!</p>
                </div>
        </main>
        <%- include('../partials/footer'); -%>
    </body>

</html>